venv/
env/

*.DS_Store
*.pyc
*.pyo


.idea/
.vscode/
*.swp

*.log
*.sqlite3
*.pot
*.py[co]
*.orig

.env
*.secret

/static/
/media/

*/migrations/*.py[cod]

*.cache

*.pot
__pycache__/
advertisemnets/local_settings.py

.env
db.sqlite3
advertisements/__pycache__/
advplatform/__pycache__/
*/local_settings.py
__pycache__/
__pycache__/
__pycache__()
# Ignore all Django migration directories (user request)
**/migrations/**
backend/media/